* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    width: 100%;
    height: 100%;
    
    background: linear-gradient(rgb(44, 45, 47) 35%, black);
    color: gray;
}

header {
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    
    margin: 5px auto;
    padding: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-image: url("../../img-darck/fondo\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    /* box-shadow: rgba(19, 0, 88, 0.15) 0px 10px 15px 0px; */
}

header img {
    width: 60%;
    height: 100%;
    
    display: none;
    padding-top: 2vh;
}
main {
    width: 95%;
    height: auto;
    
    margin: auto;

    color: ghostwhite;   

    border-left: 4px dashed cadetblue;
    border-right: 4px dashed cadetblue;
    
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

main section {
    width: 100%;
    height: auto;
    
    margin: auto;
    
}

main section h1, h2 {
    width: 100%;
    
    padding: 3% 0 2% 0;
    
    text-align: center;
    font-size: 35px;
}

main section p {
    width: 80%;
    height: auto;
    
    margin: auto;

    font-size: 1.4rem;
    
}

footer {
    width: 100%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: left;
    
    background-image: url("../../img-darck/footer-texture5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer table {
    width: 50%;
    height: 60%;

    margin: 0 0 0 5%;

    text-align: left;

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

footer table th{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 130, 90);
    padding-left: 15px;
}
footer table td{
    background-color: rgba(0, 0, 0, 0.8);
    color: cadetblue;
    padding-left: 15px;
}

footer table tfoot{
    font-size: 1.1em;
    font-weight: bolder;
    font-style: oblique;
}

footer img{
    width: 9rem;
    margin: auto;
    margin-top: 15px;
}


@media(max-width: 1150px) {
    header{
        background-size: contain;
        background-position-x: center;
        height: 50vh ;
    }
}
@media(max-width: 550px ) {
    header{
        background-size: contain;
        background-position-x: center;
        height: 30vh ;
    }
    
}

@media(min-width: 1910px ) {
    header{
        max-height: none;
        height: 85vh ;
        background-size: 95%;
        background-position-x: center;
    }
}

@media(max-width:900px){
    footer{
        display: block;
    }
    footer table {
        width: 90%;;
        margin: auto;
    }
    footer table td{
        border-bottom: solid 1px rgba(240, 128, 128);
    }
    footer img{
        display: block;
        margin: 15px auto;
    }
}