.doc_container{
        width: 95%;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(50px, auto);

    }

.documento{
    width: 29vw;
    height: 21vw;
    min-width: 64px;
    min-height: 64px;
    max-width: 3450px;
    max-height: 3450px;

    display: flex;
    justify-content: center;

    padding: auto;
    justify-items: center;
    align-items: center;

    border: solid 1px;
    overflow: hidden;
    color: cadetblue;
}

#doc-1{
    grid-column: 1;
    grid-row: 1;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1;

}

#doc-1 div{
    
    background-image:url("../../img-darck/MP/1\ ACTIVIDAD.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-2{
    grid-column: 3;
    grid-row: 1;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    
}

#doc-2 div{
    background-image: url("../../img-darck/TPC/2\ cuadro\ comparativo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-3{
    grid-column: 5;
    grid-row: 1;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}
#doc-3 div{
    background-image: url("../../img-darck/TPC/3\ presentacion.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-1:hover div{
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90);
}

#doc-2:hover div{
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90);
}

#doc-3:hover div{
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90);

}


