.doc_container {
    width: 95%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);

}

.documento {
    width: 29vw;
    height: 21vw;
    min-width: 64px;
    min-height: 64px;
    max-width: 3450px;
    max-height: 3450px;

    display: flex;
    justify-content: center;

    margin: 5px;
    padding: auto;

    justify-items: center;
    align-items: center;

    border: none;
    overflow: hidden;
    color: white;
}

#doc-1 {
    grid-column: 1;
    grid-row: 1;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

}

#doc-2 {
    grid-column: 3;
    grid-row: 1;

    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}

#doc-3 {
    grid-column: 5;
    grid-row: 1;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}

#doc-4 {
    grid-column: 1;
    grid-row: 2;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}


#doc-1 div {
    background-image: url("../../img/dark/RS/1\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-2 div {
    background-image: url("../../img/dark/RS/2\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-3 div {
    background-image: url("../../img/dark/RS/3\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-4 div {
    background-image: url("../../img/dark/RS/4\ MAPA\ CONCEPTUAL\ Y\ PREGUNTAS\ ETC.png");
    background-size: cover;
    background-repeat: no-repeat;
}


#doc-1:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90)
}

#doc-2:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90)
}

#doc-3:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90)
}

#doc-4:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgba(255, 130, 90)
}
