#contenedor-imagenes{
    width: 80%;
    height: auto;

    margin: auto;

    background-color: rgb(255, 247, 209);

    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: minmax(250px, auto);
}

.caricatura{
    width: 98%;
    
    margin: 5px auto;
}

#img1{
    grid-column: 1;
    grid-row: 1;
}

