* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

    background: ffffff;

}
    header {
        width: 100%;
        height: auto;

        margin: 5px auto;
        padding: auto;
        
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: rgba(19, 0, 88, 0.15) 0px 10px 15px 0px;
    }
    
    header img{
        width: 100%;
        height: 100%;

        padding-top: 2vh;
    }

    nav {
        width: 95%;
        height: auto;

        margin: 2vh auto;

        position: sticky;
        top:  2vh;
        
        border-top: 10px double #ff1f00;

        background-color: white;

        overflow-x: scroll;
        scroll-snap-type: none;
    }

    nav ul {
        display: flex;
        text-align: center;
        align-items: center;

        list-style: none;

        font-size: 19px;   
    }

    nav ul li{
        padding: 0 1rem 0 2rem;
    }

    nav ul li a{
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none;
    }

    main{
        width: 95%;
        height: auto;

        margin: auto;

        border-bottom: 10px double #ff1f00;

        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
         rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    main section{
        width: 100%;
        height: auto;
        
        margin: auto;
        
    }

            
    main section h1{
        width: 100%;

        padding: 3% 0  2% 0;

        text-align: center;
        font-size: 35px;
    }

    main section p{
        width: 80%;
        height: auto;

        margin: auto;
        
    }

    footer{
        width: 100%;
        height: 30vh;

        display: flex;
        align-items: center;
        justify-content: left;

        background: rgb(147,0,103);
        background:rgb(122, 14, 14) 30%;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    }

    footer table{
        width: 35%;
        height: 60%;

        margin: 0 0 0 5%;

        text-align: left;

        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: lightgray;
    }
