#contenedor-video{
    width: 80%;
    height: auto;

    margin: auto;

    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: minmax(250px, auto);
}

#vd{
    width: 98%;
    margin: 5px auto;
    grid-column: 1;
    grid-row: 1;

    border-radius: 10px;
}

