* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    width: 100%;
    height: 100%;

    background: ffffff;
}

header {
    width: 100vw;
    max-height: 70vh;

    margin: 5px auto;
    padding: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(19, 0, 88, 0.15) 0px 10px 15px 0px;
}

header img {
    width: 100%;
    height: 100%;

    padding-top: 2vh;
}

main {
    width: 95%;
    height: auto;

    margin: auto;

    border-bottom: 10px double #ff1f00;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

main section {
    width: 100%;
    height: auto;

    margin: auto;

}

main section h1, h2 {
    width: 100%;

    padding: 3% 0 2% 0;

    text-align: center;
    font-size: 35px;
}

main section p {
    width: 80%;
    height: auto;

    margin: auto;

}

footer {
    width: 100%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: left;

    background: rgb(122, 14, 14);
}

footer table {
    width: 35%;
    height: 60%;

    margin: 0 0 0 5%;

    text-align: left;

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: lightgray;
}

footer table tfoot{
    font-size: 1.1em;
    font-weight: bolder;
    font-style: oblique;
}

footer img{
    width: 9rem;
    margin: auto;
    margin-top: 15px;
}

@media(max-width:900px){
    footer{
        display: block;
    }
    footer table {
        width: 90%;;
        margin: auto;
    }
    footer table td{
        border-bottom: solid 1px rgba(240, 128, 128);
    }
    footer img{
        display: block;
        margin: 15px auto;
    }
}