#zona-menu {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    margin: 3vh auto;
    top: 0;
    border-top: 10px double #ff1f00;
    background-color: white;
}

#menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 19px;
    overflow-x: auto;
}

.opcion-munu {
    min-width: 180px;
    height: 100%;
    min-height: 45px;
    display: flex;
    padding: 0 1.5rem 0 1.5rem;
    position: relative;
    /* Añadido para posicionar correctamente los elementos absolutos */
}

.menu_link {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.opcion-munu a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    font-weight: bold;
}

.desplegable-item {
    width: 85%;
    /* Añadido para dar al elemento la misma anchura que su padre */
    display: none;
    position: fixed;
    top: 60%;
    left: 7%;
    padding: 3%;

    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.opcion-munu:hover {
    border-bottom: solid 1px #ff1f00;
}

.opcion-munu:hover .desplegable-item {
    display: block;
}

.opcion-munu:hover a {
    color: black;
}

.desplegable-item:hover {
    display: block;
}

/* Estilos del condetido desplegable */
.desplegable-item-texto {
    position: relative;
    overflow: hidden;

    /* background: rgb(255, 167, 0); */
}

.desplegable-item-texto::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    /* Ajusta este valor para controlar cuánto texto quieres desvanecer */
    /* background: linear-gradient(to top, white, transparent); */
}
