.doc_container {
    width: 95%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);

}

.documento {
    width: 29vw;
    min-width: 64px;
    max-width: 3450px;
    height: 200px;
    min-height: 64px;
    max-height: 450px;

    display: flex;
    justify-content: center;

    margin: 5px;
    padding: auto;

    justify-items: center;
    align-items: center;

    border: solid 1px;
    overflow: hidden;
}

#doc-1 {
    grid-column: 1;
    grid-row: 1;

    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

}

#doc-2 {
    grid-column: 3;
    grid-row: 1;

    color: rgb(85, 85, 85);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}

#doc-3 {
    grid-column: 5;
    grid-row: 1;

    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}

#doc-4 {
    grid-column: 1;
    grid-row: 2;

    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;

}


#doc-1 div {
    background-image: url("../img/RS/1\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-2 div {
    background-image: url("../img/RS/2\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-3 div {
    background-image: url("../img/RS/3\ caricatura.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#doc-4 div {
    background-image: url("../img/RS/4\ MAPA\ CONCEPTUAL\ Y\ PREGUNTAS\ GENERADORAS_page-0001.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#doc-1:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgb(70, 0, 0);
}

#doc-2:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgb(70, 0, 0);
}

#doc-3:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgb(70, 0, 0);
}

#doc-4:hover div {
    transform: scale(101%);
    font-size: 1.6rem;
    color: rgb(70, 0, 0);
}
